*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.kontener{
    margin-left: 25rem;
    margin-right: 25rem;
}

.about-me{
    margin-top: 0.7rem;
    text-align: justify;
    text-decoration: none;
}
.about-me h1{
    font-size: 20pt;
}
.about-me h3{
    margin-top: 0.7rem;
    font-size: 9pt;
}
.btn{
    margin-top: 0.7rem;
}
.btn a{
    text-decoration: none;
}
#contact{ 
    color: white;
    padding: 5px 15px;
    background-color: black;
    border-radius: 25px;
    font-size: 9pt;
}
.btn-cv{
    margin-top: 0.7rem;
}
.btn-cv a{
    color: black;
}

.social-med{
    margin-top: 1rem;
    text-align: center;
    padding-left: 0.6rem;
}
.social-med a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16pt;
}
.imager{
    width: 150px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    
    
}
.imager img{
    width: 150px;
    height: 200px;
    border-radius: 20px 20px 0 0 ;
}
.name  {
    margin-top: -8px;
    text-align: center;
    width:150px ;
    font-size: 7pt;
    box-shadow: 0 5px 5px #aaaaaa;
}
.name h5{
    font-weight: 300;
    padding-bottom: 5px;
}



